<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114839917702-fs044nfghakph8700h6nur9dlbq43b1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114839917702-fs044nfghakph8700h6nur9dlbq43b1j</string>
	<key>API_KEY</key>
	<string>AIzaSyBtzjDpDOWcTWmq0frcsfAgif0T23IfrY0</string>
	<key>GCM_SENDER_ID</key>
	<string>114839917702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>savannahsu.com.Personal-Project</string>
	<key>PROJECT_ID</key>
	<string>personal-project-2020pet</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-project-2020pet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114839917702:ios:3bab29a8c0a1e90f7aed07</string>
	<key>DATABASE_URL</key>
	<string>https://personal-project-2020pet.firebaseio.com</string>
</dict>
</plist>